@import '../../../breakpoints.scss';

.home-container {
  height: 100%;
  flex-direction: column;
  justify-content: center;

  .hero {
    display: grid;
    max-height: 75vh;
    background: url("/assets/photo-couch.jpg");
    @media (min-width: 1920px) {
      background: url("/assets/photo-couch_2x.jpg");
      background-repeat: no-repeat;
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    padding-left: 10%;
    padding-right: 10%;

    padding-top: 250px;
    padding-bottom: 250px;

    align-content: flex-end;
    color: #d7d4d3;

    .hero-text {
      width: 50%;

      h1 {
        font-size: 5rem;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 400;
      }

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
  .main-content {
    flex: 1;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 100px;
    text-align: center;
    color: var(--gray);

    h2 {
      font-size: 2rem;
    }

    .steps {
      display: grid;
      grid-auto-flow: row;

      @media (min-width: $screen-lg-min) {
        gap: 25px;
        grid-auto-flow: column;
      }

      app-step {
        flex: 1;
      }
    }
  }
}
