<div class="home-container">
  <div class="hero">
    <div class="hero-text">
      <h2>New Games & Accessories</h2>
      <h1>Monthly packages.</h1>
      <h1>Excitement delivered daily.</h1>
      <p class="hero-copy">
        What's the best way to shop for the latest video games and peripherals?
        How about never shopping at all? You'll get new sutff on your doorstep
        -- every month.
      </p>
      <button>
        GET STARTED
      </button>
    </div>
  </div>
  <div class="main-content">
      <h2>How It Works</h2>
      <div class="steps">
        <app-step *ngFor="let step of steps" [step]="step"></app-step>
      </div>
  </div>
</div>
