<div class="home-container">
  <div class="header">
    <img src="/assets/logo-endless.svg" alt="Endless" class="logo" />
  </div>
  <div class="hero">
    <div class="hero-text">
      <h3>New Games & Accessories</h3>
      <h1>Monthly packages.</h1>
      <h1>Excitement delivered daily.</h1>
      <p>
        What's the best way to shop for the latest video games and peripherals?
        How about never shopping at all? You'll get new sutff on your doorstep
        -- every month.
      </p>
    </div>
  </div>
  <div class="main-content">
      <h2>How It Works</h2>
      <div class="steps">
        <app-step></app-step>
        <app-step></app-step>
        <app-step></app-step>
        <app-step></app-step>
      </div>
  </div>
</div>
