// These are the Bootstrap breakpoints -- tried and true. I'm not someone who likes to reinvent the wheel.
$screen-xs-min: 768px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1400px;