/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100vh;
}

body {
    margin: 0px;
    font-family: 'Lato', sans-serif;

    --gray: #222222;
    --teal: #50E3C2;
}